liiatools/sen2_pipeline/spec/samples/sen2_2023.xml

<!-- Below is from csww 2025 file -->

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Message" type="messagetype"/>

  <xs:complexType name="messagetype">
    <xs:sequence>
      <!-- Changed min from 0 in line below as it must be compulsory, right? -->
      <xs:element name="Header" type="headertype" minOccurs="1" maxOccurs="1"/>
      <!-- Added lines below based on 2 lines that have now been commented out from csww 2025 schema (2023 technical spec not very helpful...)-->
      <!-- Could we rename below 'PersonDetails' to 'Person' and 'persondetailstype' to 'persontype' so it's similar to pg27 of 2023 doc?-->
      <xs:element name="PersonDetails" type="persondetailstype" minOccurs="0" maxOccurs="1"/>
      <!-- Could we rename below 'RequestsforEHCNeedsAssessment' to 'Requests' and 'requestsforehcneedsassessmenttype' to 'requeststype' so it's similar to pg28 of 2023 doc?-->
      <xs:element name="RequestsForEHCNeedsAssessment" type="requestsforehcneedsassessmenttype" minOccurs="0" maxOccurs="1"/>
      <!-- Could we rename below 'EHCNeedsAssessments' to 'Assessment' and 'ehcneedsassessmentstype' to 'assessmenttype' so it's similar to pg28 of 2023 doc?-->
      <!-- SC doesn't have the 3 lines I added below in his code... -->
      <xs:element name="EHCNeedsAssessments" type="ehcneedsassessmentstype" minOccurs="0" maxOccurs="1"/>
      <xs:element name="NamedPlan" type="namedplantype" minOccurs="0" maxOccurs="1"/>
      <!-- Do we need PlanDetail here? If so, need to add further below too -->
      <!-- Could we rename below 'Placements' to 'PlanDetail' and 'placementstype' to 'plandetailtype' so it's similar to pg28 of 2023 doc?-->
      <xs:element name="Placements" type="placementstype" minOccurs="0" maxOccurs="1"/>
      <!-- Need to add ActivePlans somewhere here? If so, will need to add further below as well -->
      <!-- Need to add PlacementDetail somewhere here? If so, will need to add further below as well -->
      <!-- Need to add SENneed somewhere here? If so, will need to add further below as well -->
      <!-- Remove 2 lines below -->
      <!-- <xs:element name="LALevelVacancies" type="vacancytype" minOccurs="1" maxOccurs="1"/> -->
	  <!-- <xs:element name="CSWWWorker" type="workertype" minOccurs="1" maxOccurs="unbounded"/> -->
    </xs:sequence>
  </xs:complexType>

<!-- Within header it needs to mention DMO or DCO? Or is it enough being in the 2nd section below? -->
  <xs:complexType name="headertype">
    <xs:sequence>
    <!-- Should minoccurs be 1 on line below? -->
      <xs:element name="CollectionDetails" type="collectiondetailstype" minOccurs="0" maxOccurs="1"/>
      <!-- Should minoccurs be 1 on line below? -->
      <xs:element name="Source" type="sourcetype" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collectiondetailstype">
    <xs:sequence>
    <!-- Should minoccurs be 1 on line below? -->
      <xs:element name="Collection" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          <!-- Changed from CSWW to SEN2 in line below-->
            <xs:enumeration value="SEN2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Should minoccurs be 1 on line below? -->
      <xs:element name="Year" type="xs:gYear" minOccurs="0" maxOccurs="1"/>
      <!-- Should minoccurs be 1 on line below? -->
      <xs:element name="ReferenceDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sourcetype">
    <xs:sequence>
    <!-- Should minoccurs be 1 on line below? -->
      <xs:element name="SourceLevel" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="L"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LEA" minOccurs="1" maxOccurs="1">
      <!-- Bits below commented out by SC - why? -->
        <!-- <xs:simpleType> -->
          <!-- <xs:restriction base="xs:string" > -->
            <!-- <xs:pattern value="\d{3}"/> -->
          <!-- </xs:restriction> -->
        <!-- </xs:simpleType> -->
      <!-- </xs:element> -->
      <!-- Should minoccurs be 1 on line below? -->
      <xs:element name="SoftwareCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- Is 'Release' bit below ok? - example is '1.4 2022-06-06'- this seems to be a mix of decimal number and date, how to do this?-->
      <xs:element name="Release" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- I added 'SerialNo' below, using LEA example -->
      <xs:element name="SerialNo" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string" >
          <!-- SC has \d{3}\d* on line below -->
            <xs:pattern value="\d{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- Should minoccurs be 1 on line below? -->
      <xs:element name="DateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      <!-- I added 'DMO' below using SourceLevel example but changed minoccurs to 1 -->
      <xs:element name="DMO" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          <!-- Changed 'L' to 'Y' below-->
            <xs:enumeration value="Y"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- HOWEVER, SC has the following line instead <xs:element name="DMO" type="yesnorecruittype" minOccurs="0" maxOccurs="1"/> -->
      <!-- I added 'DCO' below using SourceLevel example but changed minoccurs to 1-->
      <xs:element name="DCO" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          <!-- Changed 'L' to 'Y' below-->
            <xs:enumeration value="Y"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- HOWEVER, SC has the following line instead <xs:element name="DCO" type="yesnorecruittype" minOccurs="0" maxOccurs="1"/> -->
    </xs:sequence>
  </xs:complexType>







<!-- Need to finish below - if changes are made to wording above, they'll need changing here too -->

  <xs:complexType name="persondetailstype">
    <xs:sequence>
      <!-- <xs:element name="..." type="twodecimalplaces" minOccurs="1" maxOccurs="1"/> -->
    </xs:sequence>
  </xs:complexType>

<xs:complexType name="requestsforehcneedsassessmenttype">
    <xs:sequence>
      <!-- <xs:element name="..." type="twodecimalplaces" minOccurs="1" maxOccurs="1"/> -->
    </xs:sequence>
  </xs:complexType>

<xs:complexType name="ehcneedsassessmenttype">
    <xs:sequence>
      <!-- <xs:element name="..." type="twodecimalplaces" minOccurs="1" maxOccurs="1"/> -->
    </xs:sequence>
  </xs:complexType>

<xs:complexType name="namedplantype">
    <xs:sequence>
      <!-- <xs:element name="..." type="twodecimalplaces" minOccurs="1" maxOccurs="1"/> -->
    </xs:sequence>
  </xs:complexType>

<xs:complexType name="placementstype">
    <xs:sequence>
      <!-- <xs:element name="..." type="twodecimalplaces" minOccurs="1" maxOccurs="1"/> -->
    </xs:sequence>
  </xs:complexType>

<!-- Commented out the following -->
  <!-- <xs:complexType name="vacancytype"> -->
    <!-- <xs:sequence> -->
      <!-- <xs:element name="NumberOfVacancies" type="twodecimalplaces" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="NoAgencyFTE" type="twodecimalplaces" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="NoAgencyHeadcount" type="xs:integer" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="RecruitmentBonus" type="noallsometype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="RetentionBonus" type="noallsometype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="PerformanceAward" type="noallsometype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="CarAllowance" type="noallsometype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="RelocationPackage" type="noallsometype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="RegionalWeighting" type="noallsometype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="CostSWE" type="noallsometype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="CostDBS" type="noallsometype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="OtherAllowances" type="xs:string" minOccurs="1" maxOccurs="1"/> -->
    <!-- </xs:sequence> -->
  <!-- </xs:complexType> -->

  <!-- <xs:complexType name="workertype"> -->
    <!-- <xs:sequence> -->
      <!-- <xs:element name="AgencyWorker" type="agencyworkertype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="SWENo" type="swetype" minOccurs="1" maxOccurs="1"/> -->
      <!-- <xs:element name="FTE" type="ftedecimal" minOccurs="0" maxOccurs="1"/> -->
	    <!-- <xs:element name="PersonBirthDate" type="xs:date" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="Sex" type="sextype" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="Ethnicity" type="ethnicitytype" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="QualLevel" type="qualtype" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="StepUpGrad" type="yesnotype" minOccurs="0" maxOccurs="1"/> -->
	    <!-- <xs:element name="OrgRole" type="roletype" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="RoleStartDate" type="xs:date" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="StartOrigin" type="origintype" minOccurs="0" maxOccurs="1"/> -->
	    <!-- <xs:element name="RoleEndDate" type="xs:date" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="LeaverDestination" type="leavertype" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="ReasonLeave" type="reasontype" minOccurs="0" maxOccurs="1"/> -->
	    <!-- <xs:element name="FTE30" type="ftedecimal" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="Cases30" type="xs:integer" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="WorkingDaysLost" type="twodecimalplaces" minOccurs="0" maxOccurs="1"/> -->
	    <!-- <xs:element name="ContractWeeks" type="onedecimalplace" minOccurs="0" maxOccurs="unbounded"/> -->
      <!-- <xs:element name="FrontlineGrad" type="yesnotype" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="Absat30Sept" type="yesnotype" minOccurs="0" maxOccurs="unbounded"/> -->
	    <!-- <xs:element name="ReasonAbsence" type="absencetype" minOccurs="0" maxOccurs="unbounded"/> -->
      <!-- <xs:element name="BaseSalary" type="twodecimalplaces" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="RRPayments" type="twodecimalplaces" minOccurs="0" maxOccurs="1"/> -->
      <!-- <xs:element name="OtherPayments" type="twodecimalplaces" minOccurs="0" maxOccurs="1"/> -->
    <!-- </xs:sequence> -->
  <!-- </xs:complexType> -->
  
  <xs:simpleType name="onedecimalplace">
    <xs:restriction base="xs:decimal">
        <xs:fractionDigits fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="twodecimalplaces">
    <xs:restriction base="xs:decimal">
        <xs:fractionDigits fixed="true" value="2"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="agencyworkertype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>Not an Agency Worker</xs:documentation></xs:annotation></xs:enumeration>
	  <xs:enumeration value="1"><xs:annotation><xs:documentation>Agency Worker</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="swetype">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z]{2}\d{1,10}$"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ftedecimal">
    <xs:restriction base="xs:decimal">
        <xs:fractionDigits fixed="true" value="6"/>
		<xs:minInclusive value="0"/>
		<xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="sextype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="M"><xs:annotation><xs:documentation>Male</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="F"><xs:annotation><xs:documentation>Female</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ethnicitytype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="WBRI"><xs:annotation><xs:documentation>White British</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="WIRI"><xs:annotation><xs:documentation>White Irish</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="WOTH"><xs:annotation><xs:documentation>Any Other White Background</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="MWBC"><xs:annotation><xs:documentation>White and Black Caribbean</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="MWBA"><xs:annotation><xs:documentation>White and Black African</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="MWAS"><xs:annotation><xs:documentation>White and Asian</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="MOTH"><xs:annotation><xs:documentation>Any Other Mixed Background</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="AIND"><xs:annotation><xs:documentation>Indian</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="APKN"><xs:annotation><xs:documentation>Pakistani</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="ABAN"><xs:annotation><xs:documentation>Bangladeshi</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="AOTH"><xs:annotation><xs:documentation>Any Other Asian Background</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="BCRB"><xs:annotation><xs:documentation>Black Caribbean</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="BAFR"><xs:annotation><xs:documentation>Black African</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="BOTH"><xs:annotation><xs:documentation>Any Other Black Background</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="CHNE"><xs:annotation><xs:documentation>Chinese</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="OOTH"><xs:annotation><xs:documentation>Any Other Ethnic Group</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="REFU"><xs:annotation><xs:documentation>Declared not stated or Refused</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="NOBT"><xs:annotation><xs:documentation>Information Not Yet Obtained</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="qualtype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Under-graduate</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Post-graduate</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>Other</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="yesnotype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Yes</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

    <xs:simpleType name="noallsometype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Yes, all LA-employed social workers are eligible</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Yes, some LA-employed social workers are eligible</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="roletype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Senior Manager</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Middle Manager</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>First Line Manager</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="4"><xs:annotation><xs:documentation>Senior Practicioner</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="5"><xs:annotation><xs:documentation>Case Holder</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="6"><xs:annotation><xs:documentation>Qualified Without Cases</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="origintype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Newly Qualified Social Workers</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Social Worker Role in a Different Local Authority in England</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="3"><xs:annotation><xs:documentation>Social Worker Role Outside England</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="4"><xs:annotation><xs:documentation>Agency or Consultancy in Social Work (in England)</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="5"><xs:annotation><xs:documentation>Other Social Work Role Non-local Authority (in England)</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="6"><xs:annotation><xs:documentation>Other Social Care Role in Local Authority/Non-local Authority (in England)</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="7"><xs:annotation><xs:documentation>Non-social Care Role/Any Role Outside England/No Employment/Career Break</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="8"><xs:annotation><xs:documentation>Other</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="9"><xs:annotation><xs:documentation>Not Known</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="10"><xs:annotation><xs:documentation>Not Yet Collected</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="leavertype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Social Worker Role in a Different Local Authority in England</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="2"><xs:annotation><xs:documentation>Social Worker Role Outside England</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>Agency or Consultancy in Social Work (in England)</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="4"><xs:annotation><xs:documentation>Other Social Work Role Non-local Authority (in England)</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="5"><xs:annotation><xs:documentation>Other Social Care Role in Local Authority/Non-local Authority (in England)</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="6"><xs:annotation><xs:documentation>Non-social Care Role/Any Role Outside England/No Employment/Career Break</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="7"><xs:annotation><xs:documentation>Other</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="8"><xs:annotation><xs:documentation>Not Known</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="9"><xs:annotation><xs:documentation>Not Yet Collected</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="reasontype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Resignation</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Voluntary Redundancy</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="3"><xs:annotation><xs:documentation>Compulsory Redundancy</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="4"><xs:annotation><xs:documentation>Dismissed</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="5"><xs:annotation><xs:documentation>Retired</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="6"><xs:annotation><xs:documentation>Deceased</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="7"><xs:annotation><xs:documentation>Moved to a Non-child and Family Social Work Role Within LA</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="8"><xs:annotation><xs:documentation>Other</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="9"><xs:annotation><xs:documentation>Not Known</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="10"><xs:annotation><xs:documentation>Not Yet Collected</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="absencetype">
    <xs:restriction base="nonEmptyString">
      <xs:enumeration value="MAT"><xs:annotation><xs:documentation>Maternity/Paternity leave</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="OTH"><xs:annotation><xs:documentation>Other Paid Authorised Absence, Such As: Compassionate Leave, Annual Leave Requiring Reallocation Of Cases</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="PUB"><xs:annotation><xs:documentation>Paid Absence For Public Duties, Such As: Jury Duty</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="SIC"><xs:annotation><xs:documentation>Sick Leave</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="TRN"><xs:annotation><xs:documentation>Training</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="UNA"><xs:annotation><xs:documentation>Unauthorised Absence</xs:documentation></xs:annotation></xs:enumeration>
	    <xs:enumeration value="UNP"><xs:annotation><xs:documentation>Unpaid Authorised Absence</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>